@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media screen and (min-width: 968px) {
:root{
  --light-white:#FFFFFF;
  --white:#E5E5E5;
  --dark-green:#012A22;
  }
}
*{
  padding : 0;
  margin :0;
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
}
h1 {
  font-family: "Sora", sans-serif;
  font-weight:600;
  font-size: 80px; 
}
h2{
  font-family: "Sora", sans-serif;
  font-weight:600;
  font-size: 48px;
}
h3{
  font-family: "Sora", sans-serif;
  font-size: 32px;
  font-weight:600;
  color:#065545;
}

.first-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Navbar container */
nav {
  position: absolute;
  width: 100%; 
  height: 191px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1; /* for navbar to stay above image */
}

.logo {
  margin-left: 40px; /* Position inside the navbar */
}

/* Navbar links position */
nav ul {
  display: flex;
  list-style: none;
  padding-left: 40px;
  margin-right: 40px;
}

nav ul li {
  margin-right: 30px; /*space between each nav items*/
}

nav ul li a {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
}

.image img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
}

.first-container .text {
  position: absolute;
  left: 153px; 
  top: 279px;   
  width: 856px; 
  color:#FFFFFF;
  z-index: 2;
  margin-bottom: 40px; 
}

.first-container .text .subtext {
  font-size: 28px; 
  line-height: 42px;
}
.second-container {
  display:flex;
  position: relative;
  top: 40px;
  left: 153px;
  padding: 40px 0;
  
}
.title {
  position: absolute;
  color: #012A22;
  margin-bottom: 15px;
}

.second_subtext{
  font-size: 20px;
  width: 1076px;
  color: #3D3D3D;
}

.subtitle {
  width: 248px;
  font-family: "Sora", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #065545;
}

.text-small {
  color: #3D3D3D;
  font-size: 16px;
  width: 254px;
  margin-bottom: 10px;
}

.text-block {
  top: 180px;
  position:absolute;
}

.position-1 {
  left: 24px;
}

.position-2 {
  left: 465px;
}

.position-3 {
  left: 904px;
}

.second_image {
  width: 416px;
  height: 546px;
  position: absolute;
  margin-top: 20px;
}
.position1_img {
  top: 451px;
  left: 0px;
}

.position2_img {
  top: 451px; 
  left: 441px;
}

.position3_img {
  top: 451px;
  left: 880px;
}

.oval-button {
  position: absolute;
  margin-top:200px;
  background-color:transparent;
  width:48px;
  height: 48px;
  border-radius: 50%; 
  border: 2px solid #065545;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.oval-button .arrow {
  margin-left: 15px;
  font-size: 12.69px; 
  line-height: 1; 
  transform: scale(1.22, 1); 
  transition: margin-left 0.3s;
}
.oval-button:hover {
  background-color: #FEBF58; 
  width: auto;
  padding: 0px 20px; 
  border-radius: 48px;
  height: 48px; 
}
.oval-button:hover .arrow {
  margin-left: 15px;
}
.button1{
  left:25px;
}
.button2{
  left: 466px;
}
.button3{
  top:150px;
  left: 904px;
}
.line {
  position:absolute;
  width: 1px; 
  height: 815px; 
  background-color: #FEBC57;
}
.l1{
  left: 440px;
}
.l2{
  left:880px;
}
.third-section {
  position: relative;
  width:100%;
  display:fex;
  top: 1017px;
  background-color: #012A22; 
  color: white; 
  min-height: 1200px;
}
.third_contains{
  position:relative;
  left: 150px;
  padding-top: 50px;
}

.video-container {
  display:flex;
  position:absolute;
  width: 418px;
  height: 392px;
  gap: 20px;
}
video{
  width:100%;
  height:auto;
}
.text-container{
  display:flex;
  margin-top:480px;
}
.text-container div{
  position: relative;
  margin-right: 90px; 
}
.text-container div h3{
  color:#E8FCF5;
}
.small-text{
  margin-left:0px;
  margin-top:10px;
  font-size:20px;
  width: 354px;
  margin-bottom:50px;
}


.footer{
  position:relative;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items from the top of the footer */
  width:1302px;
  height: 419px;
  margin-left: 152px;
  background-color:#FFFFFF;
  display:flex;
  flex-direction: column; /* Stack items vertically */
}
.footer_logo{
  margin-left:112px;
  padding-top: 50px;
  }
.social{
  margin-left:112px;
  padding-bottom: 70px;
}
.footer .links_container {
  position:absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding-left:700px;
  padding-right:160px;
  padding-top: 100px;
  flex-wrap: wrap;
}


.footer ul li {
  margin-bottom: 20px; /* Space between each nav item */
}

.footer ul li a {
  text-decoration: none;
  color: #012A22;
  font-size: 15px;
}