@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  
:root{
  --light-white:#FFFFFF;
  --white:#E5E5E5;
  --dark-green:#012A22;
  }

*{
  padding : 0;
  margin :0;
  box-sizing:border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  width: 100%;
  height: 100%;

}

.main-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Navbar container */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 191px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1; /* for navbar to stay above image */
}

.logo {
  margin-left: 40px; /* Position inside the navbar */
}

/* Navbar links position */
nav ul {
  display: flex;
  list-style: none;
  padding-left: 40px;
  margin-right: 40px;
}

nav ul li {
  margin-right: 30px; /*space between each nav items*/
}

nav ul li a {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
}
.text {
  position: absolute;
  left: 153px; 
  top: 279px;   
  width: 856px; 
  height: 382px;
  color:#FFFFFF;
  z-index: 2;
}

.text h1 {
  font-family: "Sora", sans-serif;
  font-weight:600;
  font-size: 80px; /* Adjust the title size */
  margin-bottom: 30px; /* Space between the title and paragraph */
}

.text .subtext {
  font-size: 28px; 
  line-height: 42px;
}
